.fa-timeline {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -20%;
    margin-top: 30%;
    color: white;
    font-size: 24px !important;
}

.fa-timeline-large-width {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    margin-top: 30%;
    color: white;
    font-size: 24px !important;
}

#since-visited {
    font-size: 15px;
}

@media (min-width: 700px) {

    .gifs {
        margin-left: 30%;
    }
}

@media (max-width: 1024px) {

    .fa-timeline {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -30%;
        margin-top: 20%;
        color: white;
        font-size: 24px !important;
    }
    
    .fa-timeline-large-width {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -38%;
        margin-top: 20%;
        color: white;
        font-size: 24px !important;
    }
}

@media (max-width: 375px) {

    #club-logo {
        width:20%;
    }
}